<!DOCTYPE html>
<html>
<head>
    <title>1990s Search Engine</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="/static/script.js"></script>
</head>
<body>
    <div class="logo">MyRetroSearch</div>
    <div class="search-bar">
        <form action="/results" method="get">
            <input type="text" name="q" placeholder="Search..." required>
            <button type="submit">Search</button>
        </form>
    </div>
    <button id="admin-button" onclick="window.location.href='/admin'">Admin</button>
</body>
</html>
